header {
    align-items: center;
    background-color: $color-backgrond;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;

    @media screen and (min-width: $laptop) {
        column-gap: 5rem;
        justify-content: center;
    }

    @media screen and (min-width: $laptop-L) {
        gap: 5rem;
    }

    .header__menu {
        @media screen and (min-width: $laptop) {
            display: none;
        }
    }

    nav {
        color: $color-text-color;
        position: absolute;

        @media screen and (min-width: $laptop) {
            position: static;
        }
        
        ul {
            display: none;
            
            @media screen and (min-width: $laptop) {
                column-gap: 2rem;
                display: flex;
                font-size: .75rem;
                justify-content: space-around;
            }

            @media screen and (min-width: $laptop-L) {
                font-size: 1.25rem;
                column-gap: 3.5rem;
            }
        }
    }

    span {
        color: $color-text-color;
        display: none;
        text-transform: uppercase;

        @media screen and (min-width: $laptop) {
            border: .1rem solid $color-button;
            border-radius: .5rem;
            display: inline-block;
            font-size: .75rem;
            padding: .75rem 2rem;
        }

        @media screen and (min-width: $laptop-L) {
            border: .15rem solid $color-button;
            font-size: 1.25rem;
            padding: 1.25rem 4rem;
        }
    }
}