header {
    align-items: center;
    background-color: $color-backgrond;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;

    @media screen and (min-width: $laptop) {
        column-gap: 5rem;
        justify-content: center;
        padding-top: 2.5rem;
    }

    @media screen and (min-width: $laptop-L) {
        column-gap: 5rem;
        padding-top: 4rem;
    }

    .header__logo--mobile {
        @media screen and (min-width: $laptop) {
            display: none;
        }
    }

    .header__logo--desktop {
        display: none;

        @media screen and (min-width: $laptop) {
            display: block;
            cursor: pointer;
        }
    }

    .header__menu {
        @media screen and (min-width: $laptop) {
            display: none;
        }
    }

    .header__menu--close {
        display: none;
        position: absolute;
        right: 1rem;
        top: 2rem;
    }

    .header__desktop--blur {
        display: none;

        @media screen and (min-width: $tablet) {
            bottom: 0;
            display: block;
            height: 30rem;
            left: -10rem;
            position: absolute;
        }
    }

    nav {
        color: $color-text-color;
        position: absolute;
        background-color: $color-backgrond;
        top: 5rem;

        
        @media screen and (min-width: $laptop) {
            position: static;
        }
        
        ul {

            @media screen and (min-width: $laptop) {
                column-gap: 2rem;
                display: flex;
                font-size: .75rem;
                justify-content: space-around;
            }

            @media screen and (min-width: $laptop-L) {
                column-gap: 3.5rem;
                font-size: 1.25rem;
            }

            li {
                &::after {
                    content: " ";
                    display: block;
                    height: 3px;
                    margin: auto;
                    transition: width .7s ease;
                    width: 0px;
                }

                &:hover {
                    cursor: pointer;

                    &:hover::after {
                        background-color: $color-text-color;
                        width: 100%;
                    }
                }
            }
        }
    }

    .header__button {
        color: $color-text-color;
        display: none;
        text-transform: uppercase;

        @media screen and (min-width: $laptop) {
            border: .1rem solid $color-button;
            border-radius: .5rem;
            cursor: pointer;
            display: inline-block;
            font-size: .6rem;
            font-weight: 700;
            padding: .5rem 2rem;
            z-index: 1;

            &:hover {
                color: $color-backgrond;
                background-color: $color-button;
                border: .1rem dashed $color-text-color;
                transition: .7s;
            }

            @media screen and (min-width: $laptop-L) {
                border: .15rem solid $color-button;
                font-size: 1rem;
                padding: 1rem 3.5rem;
            }
        }
    }
}