main {
    align-items: center;
    background-color: $color-backgrond;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        color: $color-text-color;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 5rem 0 3rem 0;
        text-align: center;
        width: 14rem;

        @media screen and (min-width: $tablet) {
            font-size: 1.75rem;
            width: 16rem;
        }

        @media screen and (min-width: $laptop) {
            display: none;
        }
    }

    .main__button--container {
        align-items: center;
        border: .1rem solid $color-button;
        border-radius: .3rem;
        display: flex;
        gap: .5rem;
        margin-bottom: 3rem;
        padding: .5rem 1.75rem;

        @media screen and (min-width: $tablet) {
            padding: .75rem 2rem;
        }

        @media screen and (min-width: $laptop) {
            display: none;
        }

        .main__button {
            color: $color-text-color;
            font-size: .5rem;
            font-weight: 700;
            text-transform: uppercase;

            @media screen and (min-width: $tablet) {
                font-size: .75rem;
            }
        }

        .arrow {
            height: .5rem;

            @media screen and (min-width: $tablet) {
                height: .75rem;
            }
        }
    }

    .main__texts--container {

        @media screen and (min-width: $tablet) {
            margin-bottom: 4rem;
        }

        @media screen and (min-width: $laptop-L) {
            margin-top: 2rem;
        }

        .main__text--first {
            color: $color-text-color;
            font-size: 2.5rem;
            font-weight: 700;
            text-align: center;

            @media screen and (min-width: $tablet) {
                font-size: 3rem;
            }

            @media screen and (min-width: $laptop) {
                font-size: 4rem;
            }

            @media screen and (min-width: $laptop-L) {
                font-size: 5rem;
            }
        }

        .main__text--second {
            font-size: 2.5rem;
            font-weight: 700;
            text-shadow: -1px -1px 0 $color-button, 1px -1px 0 $color-button, -1px 1px 0 $color-button, 1px 1px 0 $color-button;

            @media screen and (min-width: $tablet) {
                font-size: 3rem;
            }

            @media screen and (min-width: $laptop) {
                font-size: 4rem;
            }

            @media screen and (min-width: $laptop-L) {
                font-size: 5rem;
                text-shadow: -1.5px -1.5px 0 $color-button, 1.5px -1.5px 0 $color-button, -1.5px 1.5px 0 $color-button, 1.5px 1.5px 0 $color-button;
            }
        }
    }

    .main__images--container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 10rem;
        justify-content: center;
        width: 100vw;

        .images__container--coffee {
            bottom: 0;
            height: 10rem;
            position: absolute;
            z-index: 1;

            @media screen and (min-width: $tablet) {
                height: 15rem;
            }

            @media screen and (min-width: $laptop) {
                display: none;
            }
        }

        .images__container--big {
            display: none;

            @media screen and (min-width: $laptop) {
                bottom: 0;
                display: block;
                height: 20rem;
                margin-bottom: 1rem;
                position: absolute;
                z-index: 1;
            }

            @media screen and (min-width: $laptop-L) {
                height: 35rem;
            }
        }

        .images__container--blur {
            bottom: 0;
            height: 25rem;
            position: absolute;
            width: 100vw;

            @media screen and (min-width: $tablet) {
                height: 30rem;
            }

            @media screen and (min-width: $laptop) {
                display: none;
            }
        }
    }

    .main__desktop--blur {
        display: none;

        @media screen and (min-width: $laptop) {
            display: block;
            height: 40rem;
            position: absolute;
            right: 0;
            top: -10rem;
        }
    }
}