// Colors
$backgrond: #000;
$border: #29292E;
$border-menu-mobile: #A8A8B3;
$button: #8257E5;
$text-color: #FFF;
$text-color-menu-mobile: #E1E1E6;


// Displays
$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$laptop-L: 1440px;
$desktop: 2560px;


// Fonts
$manrope: 'Manrope', sans-serif;