// Colors
$color-backgrond: #000;
$color-border: #29292E;
$color-border-menu-mobile: #A8A8B3;
$color-button: #8257E5;
$color-text-color: #FFF;
$color-text-color-menu-mobile: #E1E1E6;


// Displays
$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$laptop-L: 1440px;
$desktop: 2560px;


// Fonts
$manrope: 'Manrope', sans-serif;