@import 'abstract/variables';
@import 'components/header';
@import 'components/main';

* {
    box-sizing: border-box;
}

body {
    font-family: $manrope;
    position: relative;
    background-color: $color-backgrond;
}