header {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 1024px) {
  header {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  header {
    gap: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  header .header__menu {
    display: none;
  }
}
header nav {
  color: #FFF;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  header nav {
    position: static;
  }
}
header nav ul {
  display: none;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    display: flex;
    font-size: 0.75rem;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1440px) {
  header nav ul {
    font-size: 1.25rem;
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
}
header span {
  color: #FFF;
  display: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  header span {
    border: 0.1rem solid #8257E5;
    border-radius: 0.5rem;
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.75rem 2rem;
  }
}
@media screen and (min-width: 1440px) {
  header span {
    border: 0.15rem solid #8257E5;
    font-size: 1.25rem;
    padding: 1.25rem 4rem;
  }
}

main {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main h1 {
  color: #FFF;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 5rem 0 3rem 0;
  text-align: center;
  width: 14rem;
}
@media screen and (min-width: 768px) {
  main h1 {
    font-size: 1.75rem;
    width: 16rem;
  }
}
main .main__button--container {
  align-items: center;
  border: 0.1rem solid #8257E5;
  border-radius: 0.3rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1.75rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  main .main__button--container {
    padding: 0.75rem 2rem;
  }
}
main .main__button--container span {
  color: #FFF;
  font-size: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  main .main__button--container span {
    font-size: 0.75rem;
  }
}
main .main__button--container .arrow {
  height: 0.5rem;
}
@media screen and (min-width: 768px) {
  main .main__button--container .arrow {
    height: 0.75rem;
  }
}
main .main__text--first {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  main .main__text--first {
    font-size: 3rem;
  }
}
main .main__text--second {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: -1px -1px 0 #8257E5, 1px -1px 0 #8257E5, -1px 1px 0 #8257E5, 1px 1px 0 #8257E5;
}
@media screen and (min-width: 768px) {
  main .main__text--second {
    font-size: 3rem;
  }
}
main .main__images--container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
}
main .main__images--container .images__container--coffee {
  height: 10rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  main .main__images--container .images__container--coffee {
    height: 15rem;
  }
}
main .main__images--container .images__container--blur {
  bottom: 0;
  height: 25rem;
  left: 0;
  position: absolute;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  main .main__images--container .images__container--blur {
    height: 30rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}/*# sourceMappingURL=style.css.map */