header {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 1024px) {
  header {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    justify-content: center;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 1440px) {
  header {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    padding-top: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  header .header__logo--mobile {
    display: none;
  }
}
header .header__logo--desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  header .header__logo--desktop {
    display: block;
    cursor: pointer;
  }
}
@media screen and (min-width: 1024px) {
  header .header__menu {
    display: none;
  }
}
header .header__menu--close {
  display: none;
  position: absolute;
  right: 1rem;
  top: 2rem;
}
header .header__desktop--blur {
  display: none;
}
@media screen and (min-width: 768px) {
  header .header__desktop--blur {
    bottom: 0;
    display: block;
    height: 30rem;
    left: -10rem;
    position: absolute;
  }
}
header nav {
  background-color: #000;
  color: #E1E1E6;
  display: none;
  left: 0;
  position: absolute;
  top: 5rem;
  width: 100vw;
}
@media screen and (min-width: 1024px) {
  header nav {
    color: #FFF;
    display: block;
    position: static;
    width: auto;
  }
}
header nav ul {
  display: flex;
  flex-direction: column;
}
header nav ul:nth-child(1) {
  border-top: 0.1rem solid #29292E;
}
@media screen and (min-width: 1024px) {
  header nav ul:nth-child(1) {
    border-style: none;
  }
}
@media screen and (min-width: 1024px) {
  header nav ul {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    flex-direction: row;
    font-size: 0.75rem;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1440px) {
  header nav ul {
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
    font-size: 1.25rem;
  }
}
header nav ul li {
  border-bottom: 0.1rem solid #29292E;
  padding: 1rem 0 1rem 2rem;
}
header nav ul li:hover {
  border-left: 0.2rem solid #A8A8B3;
  color: #FFF;
}
@media screen and (min-width: 1024px) {
  header nav ul li {
    border-bottom: 0;
    padding: 0;
  }
  header nav ul li::after {
    content: " ";
    display: block;
    height: 3px;
    margin: auto;
    transition: width 0.7s ease;
    width: 0px;
  }
  header nav ul li:hover {
    border-style: none;
    color: #FFF;
    cursor: pointer;
  }
  header nav ul li:hover:hover::after {
    background-color: #FFF;
    width: 100%;
  }
}
header .header__button {
  color: #FFF;
  display: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  header .header__button {
    border: 0.1rem solid #8257E5;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    z-index: 1;
  }
  header .header__button:hover {
    color: #000;
    background-color: #8257E5;
    border: 0.1rem dashed #FFF;
    transition: 0.7s;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1440px) {
  header .header__button {
    border: 0.15rem solid #8257E5;
    font-size: 1rem;
    padding: 1rem 3.5rem;
  }
}

main {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main h1 {
  color: #FFF;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 5rem 0 3rem 0;
  text-align: center;
  width: 14rem;
}
@media screen and (min-width: 768px) {
  main h1 {
    font-size: 1.75rem;
    width: 16rem;
  }
}
@media screen and (min-width: 1024px) {
  main h1 {
    display: none;
  }
}
main .main__button--container {
  align-items: center;
  border: 0.1rem solid #8257E5;
  border-radius: 0.3rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 3rem;
  padding: 0.5rem 1.75rem;
}
@media screen and (min-width: 768px) {
  main .main__button--container {
    padding: 0.75rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  main .main__button--container {
    display: none;
  }
}
main .main__button--container .main__button {
  color: #FFF;
  font-size: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  main .main__button--container .main__button {
    font-size: 0.75rem;
  }
}
main .main__button--container .arrow {
  height: 0.5rem;
}
@media screen and (min-width: 768px) {
  main .main__button--container .arrow {
    height: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  main .main__texts--container {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  main .main__texts--container {
    margin-top: 2rem;
  }
}
main .main__texts--container .main__text--first {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  main .main__texts--container .main__text--first {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  main .main__texts--container .main__text--first {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  main .main__texts--container .main__text--first {
    font-size: 5rem;
  }
}
main .main__texts--container .main__text--second {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: -1px -1px 0 #8257E5, 1px -1px 0 #8257E5, -1px 1px 0 #8257E5, 1px 1px 0 #8257E5;
}
@media screen and (min-width: 768px) {
  main .main__texts--container .main__text--second {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  main .main__texts--container .main__text--second {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  main .main__texts--container .main__text--second {
    font-size: 5rem;
    text-shadow: -1.5px -1.5px 0 #8257E5, 1.5px -1.5px 0 #8257E5, -1.5px 1.5px 0 #8257E5, 1.5px 1.5px 0 #8257E5;
  }
}
main .main__images--container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
  width: 100vw;
}
main .main__images--container .images__container--coffee {
  bottom: 0;
  height: 10rem;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  main .main__images--container .images__container--coffee {
    height: 15rem;
  }
}
@media screen and (min-width: 1024px) {
  main .main__images--container .images__container--coffee {
    display: none;
  }
}
main .main__images--container .images__container--big {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .main__images--container .images__container--big {
    bottom: 0;
    display: block;
    height: 20rem;
    margin-bottom: 1rem;
    position: absolute;
    z-index: 1;
  }
}
@media screen and (min-width: 1440px) {
  main .main__images--container .images__container--big {
    height: 35rem;
  }
}
main .main__images--container .images__container--blur {
  bottom: 0;
  height: 25rem;
  position: absolute;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  main .main__images--container .images__container--blur {
    height: 30rem;
  }
}
@media screen and (min-width: 1024px) {
  main .main__images--container .images__container--blur {
    display: none;
  }
}
main .main__desktop--blur {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .main__desktop--blur {
    display: block;
    height: 40rem;
    position: absolute;
    right: 0;
    top: -10rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Manrope", sans-serif;
  position: relative;
}
@media screen and (min-width: 1024px) {
  body {
    height: 100vh;
  }
}/*# sourceMappingURL=style.css.map */